body {
    background-color: blue;
}

 #website-header {
    text-align: center;
}

article {
    text-align: center;
}

#profile-picture {
   max-width: 300px;
    max-height: 300px;
}
#middle-wrapper {
    display:flex;
}

#main-content-wrapper {
    width:50%;
    text-align: right;
}

#aside-content-wrapper {
    width:50%;
}
