body {
    background-color: white;
}

 #website-header {
     text-align: center;
     border-style: solid;
     border-width: 2px;
     font-family: cursive;
}

article {
    text-align: Center;
     font-family: cursive;
}

#profile-picture {
   max-width: 300px;
    max-height: 300px;
}
#middle-wrapper {
    display:flex;
     font-family: cursive;
}

#main-content-wrapper {
    width:40%;
    text-align: center;
    font-family: cursive;
    border-bottom: solid;
}

#aside-content-wrapper {
    width:60%;
    font-family: cursive;
    border-bottom: solid;

}

footer {
    display: flex;
}

img {
  max-width: 400px;
}
.center {
  text-align: center;
  margin-top: 15px;
}

 #bottom-content {
     width : 300px;
     height : 200px;
     display:table;
     }
     #bottom-content div img {
        width : 200px;
        height : 200px;
        display:inline-block;
        padding: 50px 50px 50px 50px;
    }
    #bottom-content div{
     display:table-cell;
       text-align: center;
        vertical-align: middle;
}