body {
    background-color: white;
}

 #website-header {
     text-align: center;
     border-style: solid;
     border-width: 2px;
     font-family: cursive;
}
#below-header {
     text-align: center;
     border-style: solid;
     font-family: cursive;
}
#middle-wrapper {
    display:flex;
     font-family: cursive;
}

footer {
    display: flex;
}

.center {
  text-align: center;
  margin-top: 15px;
}

#main-content-wrapper {
    text-align: center;
}
